.idea/
venv

/bot/*/**
/bot/*.zip
/bot/model_kmeans
/bot/model_vectorizer

*.iml
*.ipr
**/.gradlew/
**/.gradle/
**/gradle-wrapper.jar
**/build/
**/local_config.properties
**/all_posts_*
**/tmp.json
**/tmp.txt

.DS_Store
