.idea/
venv

/bot/dist/
/bot/node_modules/

/se_migrant_help_bot/*/**
/se_migrant_help_bot/*.zip

*.iml
*.ipr
**/.gradlew/
**/.gradle/
**/gradle-wrapper.jar
**/build/
**/local_config.properties
**/all_posts_*
**/tmp.json
**/tmp.txt
